.page-footer{
	background: #2c2c2c;
	    padding: 51px 0 81px;
	color: #fff;
	    overflow: hidden;
	.container-fluid{
		max-width: 1142px;
	}
}

.page-footer__bottom{
	//overflow: hidden;
	color: #787878;
	font-size: 14px;
	font-weight: 300;
	position: relative;
}

.develop{
	float: right;
	position: relative;
	z-index: 5;
	a{
		color: #787878;
		text-decoration: none;
		&:hover{
			color: #fff;
		}
	}
}
.copyright{
	position: absolute;
	width: 100%;
	text-align: center;
}

.page-footer__wrap{
	margin-bottom: 35px;
	//overflow: hidden;
}

.page-footer__left{
	display: block;
	margin-bottom: 25px;
	position: relative;
	float: left;
	&:after {
	    content: "";
	    background: #4b4b4b;
	    height: 1px;
	    position: absolute;
	    right: 100%;
	    top: 0;
	    width: 300%;
	    top: 30px;
	    //margin-top: -2px;
	    z-index: 1;
	    margin-right: 20px;
	}
}

.page-footer__logo{
	display: block;
	margin-bottom: 29px;
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.socials{
	text-align: center;
}

.socials__item{
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	background: #515151;
	margin-right: 15px;
	transition:all 0.3s ease;
	&:last-child{
		margin-right: 0;
	}
}

.socials__item--vk{
	background: #515151 url(../img/svg/vk.svg) center no-repeat;
	background-size: 17px 9px;
	&:hover{
		background: #4d76a0 url(../img/svg/vk.svg) center no-repeat;
		background-size: 17px 9px;
	}
}

.socials__item--fb{
	background: #515151 url(../img/svg/fb.svg) center no-repeat;
	    background-size: 8px 14px;
	&:hover{
		background: #3a5897 url(../img/svg/fb.svg) center no-repeat;
		    background-size: 8px 14px;
	}
}

.page-footer__buttons{
	float: right;
	display: inline-block;
}

.page-footer__btn{
	
	display: inline-block;
	background: #00714e;
	color: #fff;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 14px;
	text-decoration: none;
	margin-top: 10px;
	transition:all 0.3s ease;
    &:hover{
    	background: #33886c;
    	box-shadow:         0px 2px 20px 0px rgba(50, 50, 50, 0.4);
    }
    &:active{
    	background: #00593d;
    	box-shadow:         0px 2px 20px 0px rgba(50, 50, 50, 0.4);
    }
}

.page-footer__menu{
	    overflow: hidden;
    text-align: center;
    padding-left: 100px;
    padding-top: 20px;
}

.page-footer__item{
	display: inline-block;
	vertical-align: top;
	padding-right: 90px;
	padding-left: 20px;
	text-align: left;
	color: #fff;
	// &:last-child{
	// 	padding-right: 0;
	// }
}

.page-footer__title{
	    position: relative;
    font-weight: 600;
    margin-bottom: 28px;
    font-size: 18px;
}
.page-footer__title--phone{
	&:before{
		content: "";
		width: 11px;
		height: 12px;
		background: url(../img/content/phone.png) no-repeat;
		position: absolute;
		    left: -20px;
    	top: 7px;
	}
}
.page-footer__title--address{
	&:before{
		content: "";
		width: 10px;
		height: 12px;
		background: url(../img/content/address.png) no-repeat;
		position: absolute;
		left: -20px;
		top: 6px;
	}
}

.page-footer__phone{
	margin-bottom: 10px;
	font-size: 14px;
	display: block;
	color: #fff;
	text-decoration: none;
	&:hover{
		color: #3975b7;
	}
}
.page-footer__address{
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 27px;
	margin-top: -5px;
}

.socials--mobile{
	display: none;
}

.page-footer__webcom{
	text-align: center;
    position: absolute;
    width: 100%;
    bottom: -55px;
    a{
    	color: #787878;
    	&:hover{
    		text-decoration: none;
    	}
    }
}

.w-txt-link{
	display: inline-block;
	vertical-align: middle;
	color: #787878;
	font-size: 14px;
	&:hover{
		text-decoration: none;
	}
}
.w-img-link{
	vertical-align: middle;
	color: #787878;
	font-size: 14px;
	img{
		max-width: 100px;
		max-height: 100px;
		display: inline-block;
		vertical-align: middle;
	}
}

.page-footer__webcom-img{
	    margin-top: 20px;
}