@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1400px){
	.page-aside {
	    padding-right: 5px;
	    padding-left: 30px;
	}
}

@media screen and (max-width: 1200px){
	.catalog__item {
	    width: 33.33%;
	        padding: 0 15px 25px;
	}
	.workarea a.news__item {
	    padding: 39px 30px 70px;
	}
	.avatar-cite__img {
	    margin-left: -65px;
	    margin-top: -65px;
	    border: 12px solid #fff;
	}
	.workarea blockquote {
	    padding: 20px 35px;
	    line-height: 1.5;
	}
	.catalog__img:after {
	    right: -15px;
	}
	.catalog__item{
		&:nth-child(4n+4){
			.catalog__img{
				&:after{
					display: block;
				}
			}
		}
	}
	.catalog__item{
		&:nth-child(3n+3){
			.catalog__img{
				&:after{
					display: none;
				}
			}
		}
		&:last-child{
			.catalog__img{
				&:after{
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 1100px){
	.page-footer__item {
	    padding-right: 35px;
	}
	.page-footer__menu {
	    padding-left: 25px;
	}
	.workarea cite.avatar-cite {
	    padding-top: 63px;
	}

	.workarea cite {
	    padding: 20px 30px;
	    line-height: 1.5;
	}
}

@media screen and (max-width: 1000px){
	.page-title h1 {
	    margin-bottom: 20px;
	}
	.page-footer__left {
	    float: none;
	    text-align: center;
	    &:after{
	    	display: none;
	    }
	}
	.page-footer__logo {
	    display: inline-block;
	    position: relative;
	    &:before{
			content: "";
			background: #4b4b4b;
			height: 1px;
			position: absolute;
			right: 100%;
			top: 0;
			width: 300%;
			top: 50%;
			z-index: 1;
			margin-right: 20px;
	    }
	    &:after{
			content: "";
			background: #4b4b4b;
			height: 1px;
			position: absolute;
			left: 100%;
			top: 0;
			width: 300%;
			top: 50%;
			z-index: 1;
			margin-left: 20px;
	    }
	}
	.socials--desktop{
		display: none;
	}
	.socials--mobile{
		display: block;
	}
	.page-footer__menu{
		text-align: left;
	}
	.page-footer__menu {
	    padding-left: 0;
	}
	.page-footer__item {
	    width: 50%;
	    margin-right: -4px;
	}
	.page-footer__btn {
	    margin-bottom: 20px;
	}
	.layout--404 .page-header {
	    padding-top: 30px;
	}
	.layout--404  .wrapper {
	    vertical-align: middle;
	}
	.layout--404 .page-content {
	    display: table-cell;
	    vertical-align: middle;
	    padding-top: 0;
	}
	.workarea a.news__item.news__item--general {
	    min-height: 300px;
	    padding: 31px 30px 90px;
	}
	.menu__top-link {
	    font-size: 24px;
	}
	.workarea .filter__cat {
	    font-size: 16px;
	    padding: 5px 3px;
	}
	.filter__inner {
	    padding: 10px;
	}
	.filter__item {
	    padding-right: 5px;
	    &:last-child{
	    	padding-right: 0;
	    }
	}
	.filter input[type="checkbox"]:not(:checked) + label span, .filter input[type="checkbox"]:checked + label span {
	    padding-left: 15px;
	}
	.filter__buttons.active {
	    padding-top: 30px;
	}
}


@media screen and (max-width: 992px){
	.page-aside{
		display: none;
	}
}

@media screen and (max-width: 900px){
	.menu__top-link {
	    font-size: 20px;
	}
	.filter__item-box {
	    font-size: 13px;
	}
}

@media screen and (max-width: 800px){
	.jrt table,
	.jrt tbody,
	.jrt td,
	.jrt th,
	.jrt thead,
	.jrt tr {
	    text-align: right;
	}
	.workarea tr:first-child td {
	    border-top: 0;
	}
}


@media screen and (max-width: 768px){
	.page-title h1 {
	    margin-bottom: 30px;
	    font-size: 38px;
	}
	.workarea h2 {
	    margin-bottom: 20px;
	    font-size: 38px;
	    line-height: 40px;
	}
	.workarea h3 {
	    margin-bottom: 20px;
	    font-size: 34px;
	    line-height: 40px;
	}
	.workarea h4 {
	    margin-bottom: 20px;
	    font-size: 24px;
	    line-height: 30px;
	}
	.workarea h5 {
	    font-size: 18px;
	    line-height: 24px;
	}
	.retail-link,
	.wholesale-link,
	.top-language,
	.top-phone{
		display: none;
	}
	.page-header__buttons {
	    padding-top: 12px;
	}
	.slider-default-wrap .slick-slider {
	    padding-right: 0;
	    padding-bottom: 100px;
	}
	.slide-count-wrap {
	    bottom: 40px;
	    top: auto;
	    width: 95px;
	    width: 100%;
	}
	.slider-default-wrap .slick-next {
	    top: auto;
	    bottom: 30px;
	    z-index: 5;
	}
	.slider-default-wrap .slick-prev {
	    top: auto;
	    bottom: 30px;
	    left: 0;
	    z-index: 5;
	}
	.menu__wrap{
		padding-top: 120px;
	}
	.menu__item {
	    display: block;
	    width: 100%;
	    padding-top: 15px;
	    margin-top: 0;
	    margin-right: 0;
	    opacity: 0;
	}
	.menu__item:hover .menu__top-link {
	    transform: inherit;
	}
	.menu__second {
	    margin-top: 0;
	    opacity: 1;
	    display: none;
	}
	.menu__top-link{
		font-size: 28px;
	}
	.menu__list {
	    border-top: 0;
	}
	.menu__item{
		padding-bottom: 15px;
		border-top: 1px solid #c6dfd7;
		&:last-child{
			border-bottom: 1px solid #c6dfd7;
		}
	}
	.menu__socials {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.catalog__item .catalog__btn,
	.workarea a.catalog__btn{
	    opacity: 1;
	    transform: translate(-50%, -50px);
	}
	.filter--desktop{
		display: none;
	}
	.filter--mobile{
		display: block;
	}
	.search__wrap {
	    padding-top: 120px;
	}
}

@media screen and (max-width: 650px){
	.catalog__item {
	    width: 50%;
	    &:nth-child(3n+3){
			.catalog__img{
				&:after{
					display: block;
				}
			}
		}
		&:nth-child(2n+2){
			.catalog__img{
				&:after{
					display: none;
				}
			}
		}
		&:last-child{
			.catalog__img{
				&:after{
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 600px){
	.page-footer__logo {
	    margin-bottom: 0;
		width: 169px;
		height: 43px;
	}
	.page-footer__item {
	    width: 100%;
	    margin-right: 0;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.page-footer__title {
	    margin-bottom: 13px;
	}
	.page-footer__wrap{
		display: flex;
		flex-wrap:wrap;
	}
	.page-footer__left {
	    width: 100%;
	    order: 0;
	}
	.page-footer__buttons {
	    order: 2;
	    width: 100%;
	    text-align: center;
	}
	.page-footer__menu {
	    width: 100%;
	    order: 1;
	    padding-top: 0;
	}
	.page-header__buttons{
		display: none;
	}
	.top-logo{
		width: 158px;
		height: 41px;
		background-size: contain;
	}
	.page-header__links {
	    padding-top: 0;
	}
	.top-menu{
		margin-left: 10px;
	}
	.layout--404 .workarea h1{
		font-size: 30px;
		    line-height: 1.2;
	}
	.workarea a.news__item {
	   width: 100%;
	   margin-right: 0;
	}
	.workarea a.paging__item, .paging__item{
		background: #ebf4f1; 
		margin-bottom: 10px;
	}
	.paging__wrap{
		background: transparent;
	}
	.slider-default__img {
	    height: 260px;
	}
	.search__wrap {
	    padding-top: 90px;
	}
	.search-form input[type="text"],
	.search-form input[type="email"],
	.search-form input[type="password"],
	.search-form input[type="email"] {
	    font-size: 18px;
	}
	.search-form ::-webkit-input-placeholder {font-size: 18px;}
	.search-form ::-moz-placeholder          {font-size: 18px;}
	.search-form :-moz-placeholder           {font-size: 18px;}
	.search-form :-ms-input-placeholder      {font-size: 18px;}

	.search__socials {
	    padding-top: 40px;
	    padding-bottom: 25px;
	}
	.catalog-info {
	    padding: 35px 0;
	}
	.menu__item,
	.page-header .search{
	    opacity: 1;
	    transform: none;
	    transition: none;
	}
}


@media screen and (max-width: 450px){
	.catalog__item {
	    width: 100%;
		.catalog__img{
			&:after{
				display: none!important;
			}
		}
	}
}