@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1400px){
	.page-aside {
	    padding-right: 5px;
	    padding-left: 30px;
	}
}

@media screen and (max-width: 1200px){
	.catalog__item {
	    width: 33.33%;
	        padding: 0 15px 25px;
	}
	.workarea a.news__item {
	    padding: 39px 30px 70px;
	}
}

@media screen and (max-width: 1100px){
	.page-footer__item {
	    padding-right: 35px;
	}
	.page-footer__menu {
	    padding-left: 25px;
	}
}

@media screen and (max-width: 1000px){
	.page-title h1 {
	    margin-bottom: 20px;
	}
	.page-footer__left {
	    float: none;
	    text-align: center;
	    &:after{
	    	display: none;
	    }
	}
	.page-footer__logo {
	    display: inline-block;
	    position: relative;
	    &:before{
			content: "";
			background: #4b4b4b;
			height: 1px;
			position: absolute;
			right: 100%;
			top: 0;
			width: 300%;
			top: 50%;
			z-index: 1;
			margin-right: 20px;
	    }
	    &:after{
			content: "";
			background: #4b4b4b;
			height: 1px;
			position: absolute;
			left: 100%;
			top: 0;
			width: 300%;
			top: 50%;
			z-index: 1;
			margin-left: 20px;
	    }
	}
	.socials--desktop{
		display: none;
	}
	.socials--mobile{
		display: block;
	}
	.page-footer__menu{
		text-align: left;
	}
	.page-footer__menu {
	    padding-left: 0;
	}
	.page-footer__item {
	    width: 50%;
	    margin-right: -4px;
	}
	.page-footer__btn {
	    margin-bottom: 20px;
	}
	.layout--404 .page-header {
	    padding-top: 30px;
	}
	.layout--404  .wrapper {
	    vertical-align: middle;
	}
	.layout--404 .page-content {
	    display: table-cell;
	    vertical-align: middle;
	    padding-top: 0;
	}
	.workarea a.news__item.news__item--general {
	    min-height: 300px;
	    padding: 31px 30px 90px;
	}
}

@media screen and (max-width: 800px){
	.jrt table,
	.jrt tbody,
	.jrt td,
	.jrt th,
	.jrt thead,
	.jrt tr {
	    text-align: right;
	}
	.workarea tr:first-child td {
	    border-top: 0;
	}
}


@media screen and (max-width: 768px){
	.page-title h1 {
	    margin-bottom: 30px;
	    font-size: 38px;
	}
	.workarea h2 {
	    margin-bottom: 20px;
	    font-size: 38px;
	    line-height: 40px;
	}
	.workarea h3 {
	    margin-bottom: 20px;
	    font-size: 34px;
	    line-height: 40px;
	}
	.workarea h4 {
	    margin-bottom: 20px;
	    font-size: 24px;
	    line-height: 30px;
	}
	.workarea h5 {
	    font-size: 18px;
	    line-height: 24px;
	}
	.retail-link,
	.wholesale-link,
	.top-language,
	.top-phone{
		display: none;
	}
	.page-header__buttons {
	    padding-top: 12px;
	}
}

@media screen and (max-width: 600px){
	.page-footer__logo {
	    margin-bottom: 0;
		width: 169px;
		height: 43px;
	}
	.page-footer__item {
	    width: 100%;
	    margin-right: 0;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.page-footer__title {
	    margin-bottom: 13px;
	}
	.page-footer__wrap{
		display: flex;
		flex-wrap:wrap;
	}
	.page-footer__left {
	    width: 100%;
	    order: 0;
	}
	.page-footer__buttons {
	    order: 2;
	    width: 100%;
	    text-align: center;
	}
	.page-footer__menu {
	    width: 100%;
	    order: 1;
	    padding-top: 0;
	}
	.page-header__buttons{
		display: none;
	}
	.top-logo{
		width: 158px;
		height: 41px;
		background-size: contain;
	}
	.page-header__links {
	    padding-top: 0;
	}
	.top-menu{
		margin-left: 10px;
	}
	.layout--404 .workarea h1{
		font-size: 30px;
		    line-height: 1.2;
	}
	.workarea a.news__item {
	   width: 100%;
	   margin-right: 0;
	}
}