@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1400px){
	.page-aside {
	    padding-right: 5px;
	    padding-left: 30px;
	}
}

@media screen and (max-width: 1100px){
	.page-footer__item {
	    padding-right: 35px;
	}
	.page-footer__menu {
	    padding-left: 25px;
	}
}

@media screen and (max-width: 800px){
	.jrt table,
	.jrt tbody,
	.jrt td,
	.jrt th,
	.jrt thead,
	.jrt tr {
	    text-align: right;
	}
	.workarea tr:first-child td {
	    border-top: 0;
	}
}
