.popup{
	margin: 0 auto;
	color: #fff;
	background: #171726;
	padding: 40px;
	position: relative;
  video{
    width: 100%;
    height: 100%;
    display: block;
  }

    h1{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    // font-size: 74px;
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
  }
  h2{
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    line-height: 46px;
    font-weight: 500;
  }
  h3{
      margin: 0;
      margin-bottom: 30px;
      font-family: 'Rubik', sans-serif;
    font-size: 38px;
    line-height: 44px;
    font-weight: 500;
  }
  h4{
    margin: 0;
      margin-bottom: 30px;
      font-family: 'Rubik', sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
  }
  h5{
    margin: 0;
      margin-bottom: 15px;
      font-family: 'Rubik', sans-serif;
    font-size: 21px;
    line-height: 27px;
    font-weight: 500;
  }
  h6{
    margin: 0;
      margin-bottom: 15px;
      font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
  p{
    margin: 0;
    margin-bottom: 28px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    color: #000;
  }
}

.video-popup{
  max-width: 1000px;
  max-height: 600px;
  padding: 0;
}

.mfp-zoom-in {

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
      transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
  
    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  
  }

}

.mfp-container {
    overflow-y: auto;
}

.mfp-close-btn-in .mfp-close{
  color: #fff;
}


.mfp-zoom-out {

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out; 
    transform: scale(1.3); 
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
}



.popup-info{
  position: relative;
  padding: 45px 0;
  width: auto;
  background: #fff;
  max-width: 1210px;
  margin: 20px auto;
  border-radius: 4px;
  overflow: hidden;
  box-shadow:         0px 10px 18px 0px rgba(0, 0, 0, 0.3);
  color: #000;
  &:before{
    content: "";
    width: 40%;
    height: 100%;
    background: #eef5f3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  h1{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    // font-size: 74px;
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
  }
  h2{
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    line-height: 46px;
    font-weight: 500;
  }
  h3{
      margin: 0;
      margin-bottom: 30px;
      font-family: 'Rubik', sans-serif;
    font-size: 38px;
    line-height: 44px;
    font-weight: 500;
  }
  h4{
    margin: 0;
      margin-bottom: 30px;
      font-family: 'Rubik', sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
  }
  h5{
    margin: 0;
      margin-bottom: 15px;
      font-family: 'Rubik', sans-serif;
    font-size: 21px;
    line-height: 27px;
    font-weight: 500;
  }
  h6{
    margin: 0;
      margin-bottom: 15px;
      font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
  p{
    margin: 0;
    margin-bottom: 28px;
  }
  video{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  

  .btn{
    border: 0;
    display: inline-block;
    background: #00714e;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
        padding: 10px 26px;
      transition:all 0.3s ease;
      &:hover{
        background: #33886c;
        box-shadow:         0px 2px 20px 0px rgba(50, 50, 50, 0.4);
      }
      &:active{
        background: #00593d;
        box-shadow:         0px 2px 20px 0px rgba(50, 50, 50, 0.4);
      }
  }
  .input-wrap--error{
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea{
      border-bottom: 2px solid #e84245;
    }
  }
}





.mfp-inline-holder{
  +button.mfp-close{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    top: 30px;
    right: 20px;
    opacity: 1;
    line-height: 40px;
    font-size: inherit;
    font-family: inherit;
    transition:opacity 0.3s ease;
    &:hover{
      opacity: 0.6;
    }
    &:before{
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(../img/svg/close.svg) center no-repeat;
      background-size: contain;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -8px;
      margin-left: -8px;
    }
  }
}

.popup-inline__result{
      width: 40%;
      text-align: center;
}
.popup-inline__info{
  width: 60%;
}


.submit__form{
  max-width: 450px;
  margin: 0 auto;
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    border:0;
    border-bottom: 2px solid #d9eae5;
    padding: 9px 0;
  }
  textarea{
    width: 100%;
        resize: vertical;
        border:0;
        border-bottom: 2px solid #d9eae5;
        height: 80px;
        padding: 10px 0;
  }
}


button.mfp-arrow{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #29886a;
  display: inline-block;
  text-indent: -9999em;
  padding: 0;
  background: transparent;
  transition:all 0.3s ease;
  margin-top: -27px;
  opacity: 1;
  &:hover{
    opacity: 0.7;
  }
}

.mfp-arrow:before,
.mfp-arrow:after{
  border: 0;
  opacity: 1;
  margin: 0;
}

.mfp-arrow-right:after{
  content: "";
  display: inline-block;
  width: 15px;
  height: 10px;
  background: url(../img/content/m-right-gr.png) no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: 50%;
  margin-top: -5px;
  transition:all 0.3s ease;
}

.mfp-arrow-left:after{
    content: "";
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url(../img/content/m-left-gr.png) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -5px;
    transition:all 0.3s ease;
}

.mfp-arrow-right{
  right: 20px;
}
.mfp-arrow-left{
  left: 20px;
}

.mfp-arrow:active {
    margin-top: -27px;
}

.feedback-label{
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 10px;
  pointer-events: none;
  transition:all 0.2s ease;
}

.popup-info-wrap{
  overflow: hidden;
  display: flex;
  flex-wrap:wrap;
  align-items:center;
}

.popup-inline__img{
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 300px;
  img{
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.popup-inline__title{
  font-family: 'Rubik', sans-serif;
  font-size: 21px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  position: relative;
  &:after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 3px;
    background: #046a4a;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
  }
}

.popup-inline-variant__title{
  font-size: 11px;
  color: #808080;
  font-family: Verdana,sans-serif;
  margin-bottom: 5px;
  
}

.popup-inline-variant{
  margin-bottom: 15px;
  span{
    display: block;
    font-weight: 600;
    font-size: 14px;
  }
}

.popup-inline-color{
  margin-bottom: 35px;
  span{
    display: block;
    font-weight: 600;
    font-size: 14px;
  }
}
.popup-inline-color__title{
  font-size: 11px;
  color: #808080;
  font-family: Verdana,sans-serif;
  margin-bottom: 5px;
  
}

.popup .btn-change{
    display: inline-block;
    background: #fff;
    border: 0;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    color: #3975b7;
    text-decoration: none;
    padding: 12px 28px;
    transition: all 0.3s ease;
    font-size: 14px;
    font-family: Verdana,sans-serif;
        box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
        margin-bottom: 10px;
        &:hover{
          box-shadow: none;
        }
}

.input-wrap{
  position: relative;
  margin-bottom: 8px;
  &.act{
    .feedback-label{
      opacity: 0;
    }
  }
}

.input-wrap--submit{
  padding-top: 35px;
  margin: 0;
}

.error-msg{
    font-size: 11px;
    color: #e84245;
    font-family: Verdana,sans-serif;
    position: absolute;
    bottom: -14px;
    z-index: 1;
    white-space: nowrap;
}

.error-close{
  display: inline-block;
  right: 0;
  top: 50%;
  transform:translateY(-50%);
  width: 16px;
  height: 16px;
  background: url(../img/content/close.png) center no-repeat;
  position: absolute;
}

.popup-message{
  position: relative;
  padding: 30px;
  width: auto;
  background: #fff;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 4px;
  overflow: hidden;
  box-shadow:         0px 10px 18px 0px rgba(0, 0, 0, 0.3);
  color: #000;
}

.popup-application{
    position: relative;
    padding: 45px 0;
    width: auto;
    background: #fff;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.3);
    color: #000;
    .btn:active {
      background: #00593d;
      -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.4);
      box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.4);
  }

  .btn:hover {
      background: #33886c;
      -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.4);
      box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.4);
  }
  .btn {
      border: 0;
      display: inline-block;
      background: #00714e;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      color: #fff;
      text-decoration: none;
      padding: 10px 26px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
}